# Variables, expressions and statements

## Goals


By the end of this class, the student should be able to:

- Describe and distinguish the concepts of variable, location, value, type

- Identify the Python reserved words

- Describe the concepts of statement and expression

- Identify some of the Python operands and their precedence

- Use operators with suitable operands

- Describe the Python type conversion operations and use them

- Describe how to get input, at runtime, from an user of the program

# Simple Python Data

## 2.1 Values and data types


- A **value** is one of the fundamental things that a program
    manipulates (like `5` or `"Hello world!"`)

- The values are refered to as **objects** in Python

- Values are classified into different classes, or **data types** (`5` is an integer and `"Hello world!"` is a string)

- **type()** is a function that tell us the type of a value


Try running the following code and think about the results you get:

In [4]:
print(type("Hello, World!"))
print(type(5))
type(5)

<class 'str'>
<class 'int'>

int

In [2]:
print(type("3.2"))
print(type(3.2))

<class 'str'>
<class 'float'>

In [3]:
print("Hello, World")
type('Hello, World!')

Hello, World

str

In [7]:
print(42000)
print(42,000)
print("aaa"+"bbb")

42000
42 0
aaabbb

In [8]:
print(42, 17, 56, 34, 11, 4.35, 32)
print(3.4, "hello", 45)

42 17 56 34 11 4.35 32
3.4 hello 45

## 2.2 Variables


- A variable is a **name** that refers to a **value**

- The **assignment statement** gives a value to a variable

- The assignment statement binds a *name*, on the left-hand side of
    the operator, to a *value*, on the right-hand side

- Later, one can assign a different value to the same variable (this
    is different from maths!)

- The assignment token, `=`, should not be confused with the equals
    token, `==`

## Assignment

Assignment statements create new variables and also give them values to refer to.

In [10]:
message = "What's up, Doc?"
n = 17
pi = 3.14159
print(message)
message = "For something completely different."

print(message)
print(n)
print(pi)

print(type(message))
print(type(n))
print(type(pi))

What's up, Doc?
For something completely different.
17
3.14159
<class 'str'>
<class 'int'>
<class 'float'>

Run the next cell to visualize the code

In [11]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=message%20%3D%20%22What's%20up,%20Doc%3F%22%0An%20%3D%2017%0Api%20%3D%203.14159%0Aprint%28message%29%0Amessage%20%3D%20%22For%20something%20completely%20different.%22%0A%0Aprint%28message%29%0Aprint%28n%29%0Aprint%28pi%29%0A&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

## Equality

- It is important to note that in mathematics, a statement of equality is always true. 
  * If a is equal to b now, then a will always equal to b.
  
- In Python, an assignment statement can make two variables refer to the same object and therefore have the same value. 

- They appear to be equal. 

- However, because of the possibility of reassignment, they donâ€™t have to stay that way:

In [ ]:
a = 5
b = a      # after executing this line, a and b are now equal
print(a, b)
a = 3      # after executing this line, a and b are no longer equal
print(a, b)

a = a + 1  # update with a new value 
print(a)

 Run the next cell to visualize the code

In [ ]:
%%html
<iframe width="800" height="500" frameborder="1" src="https://pythontutor.com/iframe-embed.html#code=a%20%3D%205%0Ab%20%3D%20a%20%20%20%20%20%20%23%20after%20executing%20this%20line,%20a%20and%20b%20are%20now%20equal%0Aprint%28a,%20b%29%0Aa%20%3D%203%20%20%20%20%20%20%23%20after%20executing%20this%20line,%20a%20and%20b%20are%20no%20longer%20equal%0Aprint%28a,%20b%29%0A%0Aa%20%3D%20a%20%2B%201%20%20%23%20update%20with%20a%20new%20value%20%0Aprint%28a%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

## 2.3 Variable names and keywords


### Variable names

- **Variable names** can be arbitrarily long

- They can contain both letters and digits, but they have to begin
    with a letter or an underscore

- It is legal to use uppercase letters, but it is not done (by
    convention)

- Names should be "meaningful to the human readers" (not to be
    confused with "meaningful to the computer")

### Keywords

- Keywords define the language's syntax rules and structure

- They cannot be used as variable names

| and     | as    | assert | break    | class  | continue |
|:--------|:------|:-------|:---------|:-------|:---------|
| def     | del   | elif   | else     | except | exec     |
| finally | for   | from   | global   | if     | import   |
| in      | is    | lambda | nonlocal | not    | or       |
| pass    | raise | return | try      | while  | with     |
| yield   | True  | False  | None     |        |          |

In [ ]:
True = "true"

In [ ]:
true = False
print(true)
print(type(true))

true = 'False'
print(true)
print(type(true))

## 2.4 Statements


- A **statement** is an instruction that the Python interpreter can
    execute

- Statements don't produce any result

- Further to the assignment statement, there are others (`while`
    statements, `for` statements, `if` statements, `import` statements)

- (There are other kinds too!)

## 2.5 Evaluating expressions


- An **expression** is a combination of values, variables, operators,
    and calls to functions

- The Python interpreter evaluates expressions and displays its result
    (a value)

- A value all by itself is a simple expression, and so is a variable

In [ ]:
print(1 + 1)
print(len("hello"))

In [ ]:
y = 3.14
x = len("hello")
print(x)
print(y)

## 2.6 Operators and operands


- **Operators** are special tokens that represent computations like
    addition, multiplication and division

- The values the operator uses are called **operands**

- Operations in Python (`+`, `-`, `/`) mean what they mean in
    mathematics

- Asterisk ( `*` ) is the token for multiplication, and `**` is the
    token for exponentiation

In [ ]:
print(2 + 3)
print(2 - 3)
print(2 * 3)
print(2 ** 3)
print(3 ** 2)

 When a variable name appears in the place of an operand, it is
    replaced with its value before the operation is performed

In [ ]:
minutes = 645
hours = minutes % 60
print(hours)

## 2.7 Type conversion functions


- Type conversion functions `int()`, `float()` and `str()`

- will (attempt to) convert their arguments into types `int`, `float`
    and `str` respectively

In [ ]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))        # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.999, int(-3.999))        # Note that the result is closer to zero

print("2345", int("2345"))        # parse a string to produce an int
print(17, int(17))                # int even works on integers
print(int("23bottles"))

The type converter `float` can turn an integer, a float, or a syntactically legal string into a float.

In [ ]:
print(float("123.45"))
print(type(float("123.45")))

The type converter `str` turns its argument into a string. Remember that when we print a string, the quotes are removed.

In [ ]:
print(str(17))
print(str(123.45))
print(type(str(123.45)))

In [ ]:
print(7 / 4)     # division
print(7 // 4)    # integer division

## 2.8 Order of operations


- When more than one operator appears in an expression, the order of
    evaluation depends on the **rules of precedence**

- Python follows the same precedence rules for its mathematical
    operators that mathematics does
    * PEMDAS =  Parentheses, Exponents, Multiplication/Division, Addition/Subtraction

- Operators with the same precedence are evaluated from left-to-right
    (*left-associative*)

- An exception to the left-to-right left-associative rule is the
    exponentiation operator `**`

In [ ]:
print(2 * 3 - 1)
print(2 * (3-1))   #  force the evaluation order

In [ ]:
print(2 ** 3 ** 2)     # the right-most ** operator gets done first!
print((2 ** 3) ** 2)   # use parentheses to force the order you want!

## 2.9 Operations on strings


- One cannot perform mathematical operations on strings, even if the
    strings look like numbers

- The `+` operator represents concatenation, not addition

- The `*` operator also works on strings; it performs repetition

In [ ]:
message = "Hi"
message - 1

In [ ]:
print(message + " " + "John Doe")
print(message * 3)

## 2.10 Input


- There is a built-in function in Python, `input()`, for getting input
    from the user

- The user of the program can enter the input and click OK

- The `input()` function always return a string (without the new-line)

In [ ]:
n = input("Please enter your name: ")
print("Hello", n)
print("n of ", type(n))
n = float(n)
type(n)

## 2.11 Composition


- One of the most useful features of programming languages is their
    ability to take small building blocks and **compose** them into
    larger chunks.

- Let's do four-step program that asks the user to input a value for
    the radius of a circle, and then computes the area of the circle
    from the formula $\pi r^{2}$

- Use pi = 3.14159


Try with Spyder:

-   TIP: try to make the code as simple as you can for the human to follow.  Use Comments.

-   Then try to code using compositions

## 2.12 The modulus operator


- The **modulus operator** works on integers (and integer expressions)

  - and gives the remainder when the first number is divided by the
    second

- In Python, the modulus operator is a percent sign (`%`)

- It has the same precedence as the multiplication operator