# Tuples

## Goals

By the end of this class, the student should be able to:

- Describe how to work with tuples

- Enumerate the main methods available to work with tuples

# Data types: Tuples

## 5.1.1 A compound data type

### A compound data type (recap)

- So far we have seen built-in types like `int`, `float`, `bool`,
    `str` and we've seen lists and pairs

- Strings, lists, and **tuples** are qualitatively different from the
    others because they are made up of smaller pieces

- **Tuples group any number of items, of different types, into a single
    compound value**

- Types that comprise smaller pieces are called **collection** or
    **compound data types**

- Depending on what we are doing, we may want to treat a compound data
    type as a single thing

## 5.2.1 Tuples are used for grouping data

### Tuples are used for grouping data

- A **data structure** is a mechanism for grouping and organizing data
    to make it easier to use

- We saw earlier that we could group together pairs of values:

```
  >>> year_born = ("Paris Hilton", 1981)
  
```

- The pair is an example of a **tuple**


- Generalizing this, a tuple can be used to group any number of items
    into a single compound value

```
  >>> julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
  >>> 
  >>> empty_tuple = ()
  
```

In [ ]:
empty_tuple = ()
type(())

### Operations on Tuples

- A tuple lets us "chunk" together related information and use it as a
    single thing

- Tuples support the same sequence operations as strings

- The index operator selects an element from a tuple

What is the output?

In [ ]:
tup = (5)
print(type(tup))

In [ ]:
x = (5)
print(type(x))

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia)

What about this?

In [ ]:
julia[0] = "X"

In [ ]:
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

## 5.2.2 Tuple assignment

### Tuple assignment

- Python has a very powerful tuple assignment feature

- Allows a tuple of variables on the left of an assignment to be
    assigned values from a tuple on the right of the assignment

```
  (name, surname, year_born, movie, year_movie, profession, birthplace) = julia
  
```

Tuple packing:

In [ ]:
bob = ("Bob", 19, "CS")
print(bob)

Tuple unpacking:

In [ ]:
(name, age, studies) = bob
print(name)
print(age)
print(studies)

Swap values:

In [ ]:
a = "Gin"
b = "tonic"
temp = a
a = b
b = temp
print(a + " " + b)

Swap without using temp:

In [ ]:
a = "Gin"
b = "tonic"
(a, b) = (b, a)
print(a + " " + b)

In [ ]:
(one, two, three, four) = (1, 2, 3)

## 5.2.3 Tuples as return values

### Tuples as return values

- Functions can always only return a single value

- By making that value a tuple, we can effectively group together as
    many values as we like, and return them together

In [ ]:
import math

def circle_stats(r):
    """ Return (circumference, area) of a circle of radius r """
    circumference = 2 * math.pi * r
    area = math.pi * r * r
    return (circumference, area)

print(circle_stats(1))

## 5.2.4 Composability of Data Structures

### Composability of Data Structures

- Tuples items can themselves be other tuples

- Tuples may be **heterogeneous**, meaning that they can be composed
    of elements of different type

```
  julia_more_info = ( ("Julia", "Roberts"), (8, "October", 1967),
                       "Actress", ("Atlanta", "Georgia"),
                       [ ("Duplicity", 2009),
                         ("Notting Hill", 1999),
                         ("Pretty Woman", 1990),
                         ("Erin Brockovich", 2000),
                         ("Eat Pray Love", 2010),
                         ("Mona Lisa Smile", 2003),
                         ("Oceans Twelve", 2004) ])
  
```

### Traverse and index

In [ ]:
mps = (("Cleese", "John"), ("Gilliam", "Terry"), ("Idle", "Eric"),
       ("Jones", "Terry"), ("Palin", "Michael"))
print(mps)

In [ ]:
for pair in mps:
    print(pair[1], pair[0])

In [ ]:
for i, value in enumerate(mps):
    print(i, ":", value[1], value[0])

## Tuple comparison

### Tuple comparison

- Sequences of the same type support comparisons
- tuples (and lists) are **compared lexicographically** by comparing corresponding elements. First, the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.
- This means that to **compare equal**, every element must compare equal and the two sequences must be of the same type and have the same length.


```
>>> a = (1, 2, 3)
>>> b = (1, 2, 5)
>>> a < b
```

Try this:

In [ ]:
a = (2, 1, 3)
b = (1, 2, 5)
a < b

In [ ]:
a = (1, 3)
b = (1, 2, 5)
a < b

In [ ]:
a = ()
b = (1, 2, 5)
a < b

## Tuple operations

### Updating Tuples

- Tuples are **immutable**, which means you cannot update or change the
    values of tuple elements

- You are able to take portions of existing tuples to create new
    tuples

```
  tup1 = (12, 34.56)

  # Following action is not valid for tuples
  # tup1[0] = 100

  # So let's create a new tuple as follows
  tup1 = (100,) + tup1[1:]
  print(tup1)
  
```

In [ ]:
tup = (1000, 3.14159)
print(tup)
tup[0] = 100 # an ERROR!

In [ ]:
 ### Updating Tuples

tup1 = (12, 34.56)

# Following action is not valid for tuples
# tup1[0] = 100

# So let's create a new tuple as follows
tup1 = (100,) + tup1[1:]
print(tup1)

In [ ]:
  
### Delete Tuples
 
tup = ('physics', 'chemistry', 2017, 2018)

print()
print(tup)

del tup

print("After deleting tup : ")
print(tup)

In [ ]:
### Basic Tuples Operations

tup = (1, 2, 3) + (4, 5, 6)
print()
print(tup)

print()
print(len((1, 2, 3)))

print()
print(('Hi!',) * 4)

print()
print(3 in (1, 2, 3))

print()
for x in (1, 2, 3):
    print(x)

In [ ]:
### Indexing, Slicing

L = ('spam', 'Spam', 'SPAM!')

print()
print(L[2])
print(L[-2])
print(L[1:])

In [ ]:
### No Enclosing Delimiters

tup = 'abc', -4.24e93, 18+6.6j, 'xyz'

print()
print(tup)

In [ ]:
### Built-in Tuple Functions

tuple1, tuple2 = (123, 'xyz', 'zara', 'abc'), (456, 700, 200)

print()
print("Max value element tuple1: ", max(tuple2))
print("Max value element tuple2: ", max(tuple1))

## Lists of Tuples

### Lists of Tuples

- The list of tuple structure is remarkably useful

- One common situation is processing a list of simple coordinate pairs
    for 2-dimensional or 3-dimensional geometries

- As an example of using a red, green, blue **tuple**, we may have a
    list of individual colors that looks like:

```
   color_scheme = [ (0,0,0), (0x00,0xff,0x7f), (0xf5,0xde,0xb3) ] # RGB colors, (0,0,0) is black
```

### Working with Lists of Tuples

- In dictionaries, the `dict.items()` method provides the dictionary
    keys and values as a `list` of 2-tuples

- The `zip()` built-in function *interleaves* two or more sequences to
    create a `list` of tuples

- A interesting form of the `for` statement is one that exploits
    multiple assignment to work with a list of tuples

```
   for c,f in [("red",18), ("black",18), ("green",2)]:
      print("{0} occurs {1}".format(c, f/38.0))
```

- The `for` statement uses a form of multiple assignment to split up
    each tuple into a fixed number of variables

Multiple assignment to work with a list of tuples:

In [ ]:
for c, f in [("red", 18), ("black", 18), ("green", 2)]:
    print("{0} occurs {1}".format(c, f/38.0))

Yet another example:

In [ ]:
for r, g, b in [(0x00,0xff,0x7f), (0xf5,0xde,0xb3)]:
    print("red: {0}, green: {1}, blue: {2}".format(r, g, b))

## List Comprehensions

### List Comprehensions

- A popular Python feature that appears prominently in Functional Programming Languages is list comprehensions

- A list comprehension is an expression that combines a function, a
    `for` statement, and an optional `if` statement

- The most important thing about a list comprehension is that it is an
    iterable that applies a calculation to another iterable

```
   even = [2*x for x in range(18)]
```

## Advanced List Sorting

### List Sorting

- Consider a list of tuples (that came from a spreadsheet `csv` file)

```
   job_data = [
       ('121','Wyoming','NY',8722),
       ('123','Yates','NY',5094)
       ...
       ('001,'Albany','NY',162692),
       ('003','Allegany','NY',11986),
   ]
```


- Sorting this list can be done trivially with the `list.sort()`
    method

```
   job_data.sort()
```

- This kind of sort will simply compare the tuple items in the order
    presented in the tuple

- In this case, the country number is first

### Sorting With Key Extraction

- What if we want to sort by some other column, like state name or
    jobs?

- The `sort()` method of a list can accept a keyword parameter, `key`,
    that provides a key extraction function

- This function returns a value which can be used for comparison
    purposes

- To sort our `job_data` by the second field, we can use a function
    like the following:

```
   def by_state(a):
       return a[1]

   job_data.sort(key=by_state)
```

The "database":

In [ ]:
job_data = [
   ('121', 'Yates', 'NY', 5094),
   ('122', 'Wyoming', 'NY', 8722),
   ('001', 'Albany', 'NY', 162692),
   ('003', 'Allegany', 'NY', 11986),
]

Let's do a standard sort:

In [ ]:
print(job_data)
job_data.sort()
print(job_data)

Sort by state:

In [ ]:
def by_state(a):
    return a[1]

Sort by key:

In [ ]:
job_data.sort(key=by_state)
print(job_data)

## Lists of Tuples

### Lists of Tuples

- The list of tuple structure is remarkably useful

- One common situation is processing a list of simple coordinate pairs
    for 2-dimensional or 3-dimensional geometries

- As an example of using a red, green, blue **tuple**, we may have a
    list of individual colors that looks like:

```
   color_scheme = [ (0,0,0), (0x00,0xff,0x7f), (0xf5,0xde,0xb3) ] # RGB colors, (0,0,0) is black
```

### Working with Lists of Tuples

- In dictionaries, the `dict.items()` method provides the dictionary
    keys and values as a `list` of 2-tuples

- The `zip()` built-in function *interleaves* two or more sequences to
    create a `list` of tuples

- A interesting form of the `for` statement is one that exploits
    multiple assignment to work with a list of tuples

```
   for c,f in [("red",18), ("black",18), ("green",2)]:
      print("{0} occurs {1}".format(c, f/38.0))
```

- The `for` statement uses a form of multiple assignment to split up
    each tuple into a fixed number of variables

Multiple assignment to work with a list of tuples:

In [ ]:
for c, f in [("red", 18), ("black", 18), ("green", 2)]:
    print("{0} occurs {1}".format(c, f/38.0))

Yet another example:

In [ ]:
for r, g, b in [(0x00,0xff,0x7f), (0xf5,0xde,0xb3)]:
    print("red: {0}, green: {1}, blue: {2}".format(r, g, b))

## List Comprehensions

### List Comprehensions

- A popular Python feature that appears prominently in Functional Programming Languages is list comprehensions

- A list comprehension is an expression that combines a function, a
    `for` statement, and an optional `if` statement

- The most important thing about a list comprehension is that it is an
    iterable that applies a calculation to another iterable

```
   even = [2*x for x in range(18)]
```

## Advanced List Sorting

### List Sorting

- Consider a list of tuples (that came from a spreadsheet `csv` file)

```
   job_data = [
       ('121','Wyoming','NY',8722),
       ('123','Yates','NY',5094)
       ...
       ('001,'Albany','NY',162692),
       ('003','Allegany','NY',11986),
   ]
```


- Sorting this list can be done trivially with the `list.sort()`
    method

```
   job_data.sort()
```

- This kind of sort will simply compare the tuple items in the order
    presented in the tuple

- In this case, the country number is first

### Sorting With Key Extraction

- What if we want to sort by some other column, like state name or
    jobs?

- The `sort()` method of a list can accept a keyword parameter, `key`,
    that provides a key extraction function

- This function returns a value which can be used for comparison
    purposes

- To sort our `job_data` by the second field, we can use a function
    like the following:

```
   def by_state(a):
       return a[1]

   job_data.sort(key=by_state)
```

The "database":

In [ ]:
job_data = [
   ('121', 'Yates', 'NY', 5094),
   ('122', 'Wyoming', 'NY', 8722),
   ('001', 'Albany', 'NY', 162692),
   ('003', 'Allegany', 'NY', 11986),
]

Let's do a standard sort:

In [ ]:
print(job_data)
job_data.sort()
print(job_data)

Sort by state:

In [ ]:
def by_state(a):
    return a[1]

Sort by key:

In [ ]:
job_data.sort(key=by_state)
print(job_data)